<!DOCTYPE html>

<html>
    <style>
        h1 {text-align: center;}
        form {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
        input {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <head>
        <title>Baseball All Star Predictor</title>
    </head>
    <body>
        <h1>Welcome to the Baseball All Star Predictor App</h1>
        <form method="POST">
            <label>Year</label> <input style="width: 65px;" name="year" placeholder="(e.g. 2000)"/><br/>
            <label>Games Played</label> <input style="width: 50px;" name="games_played" placeholder="(e.g. 75)"/><br/>
            <label>At Bats</label> <input style="width: 56px;" name="at_bats" placeholder="(e.g. 240)"/><br/>
            <label>Runs</label> <input style="width: 50px;" name="runs" placeholder="(e.g. 48)"/><br/>
            <label>Hits</label> <input style="width: 50px;" name="hits" placeholder="(e.g. 60)"/><br/>
            <label>Doubles</label> <input style="width: 50px;" name="doubles" placeholder="(e.g. 20)"/><br/>
            <label>Triples</label> <input style="width: 50px;" name="triples" placeholder="(e.g. 5)"/><br/>
            <label>Home Runs</label> <input style="width: 50px;" name="home_runs" placeholder="(e.g. 15)"/><br/>
            <label>Runs Batted In</label> <input style="width: 50px;" name="runs_batted_in" placeholder="(e.g. 35)"/><br/>
            <label>Stolen Bases</label> <input style="width: 50px;" name="stolen_bases" placeholder="(e.g. 10)"/><br/>
            <label>Walks</label> <input style="width: 50px;" name="walks" placeholder="(e.g. 30)"/><br/>
            <label>Strikeouts</label> <input style="width: 50px;" name="strikeouts" placeholder="(e.g. 40)"/><br/>
            <label>Putouts</label> <input style="width: 50px;" name="putouts" placeholder="(e.g. 25)"/><br/>
            <label>Assists</label> <input style="width: 50px;" name="assists" placeholder="(e.g. 45)"/><br/>
            <label>Errors</label> <input style="width: 50px;" name="errors" placeholder="(e.g. 17)"/><br/>
            <input type="submit" value="Make a Prediction"/>
        </form>
    </body>
</html>